.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 22.5px;
}

.toolbar{
  width: 100%;
  height: 6%;
  background: rgba(64,59,74, .4);
  display: flex;
  border-bottom: 1px grey solid;
  margin-left: -8px;
}

.marginDiv{
  width: 10%;
  height: 100%;
  background: transparent;
  position: relative;
}
.functionalToolbar{
  margin-left: 25%;
  width: 50%;
  height: 100%;
  background: transparent;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 7px 7px grey inset;
}
.toggleButton{
  display: inline-block;
  width: 20%;
  height: 100%;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  outline: none;
  text-align: justify;
}
.toggleMovement{
  width: 20%;
  height: 100%;
  transition: .5s;
  position: absolute;
  background: radial-gradient(#e7e9bb,#403b4a);
  border-radius: 20px;
  left: 0;
  opacity: .4;
}
.homeButton{
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: transparent;
  z-index: 1;
}
.sliderIcon{
  width: 20%;
  height: 40%;
  float: left;
  margin-top: 7.5%;
  margin-left: 5%;
  padding-right: 5.6%;
}
.functionalToolbar:hover .toggleMovement{
  opacity: 1;
}
.displayArea{
  width: 100%;
  height: 89%;
  margin-left: -8px;
}
.screen{
  width: 100%;
  height: 100%;
}

/* Home Section Style */

.homeSectionContainer{
  width: 40%;
  height: 80%;
  margin-left: 30%;
  margin-top: 5%;
  position: relative;
}
.homeSectionTextArea{
  width: 100%;
  height: 55%;
  text-align: center;
  overflow: hidden;
}
.homeSectionInputArea{
  width: 100%;
  height: 30%;
  margin-top: 5.5%;
}
.homeSectionConnectEntry{
  width: 40%;
  margin: 3% 0 0 28.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  background: transparent;
  text-align: center;
}
.homeSetionImageArea{
  position: absolute;
  width: 100%;
  height: 40%;
  top: 30%;
  opacity: .5;
  z-index: -1;
}
#avatarHolder{
  width: 40%;
  margin-top: 8%;
  height: 70%;
  border: 0;
  float: right;
  margin-right: 7.5%;
  background: transparent;
  outline: none;
}
#greetingSpan{
  font-size: 250%;
  font-weight: 900;
  max-width: 98%;
  word-wrap:break-word;
}
#homeSectionConnectImage{
  width: 100%;
  height: 100%;
}

#avatarImage{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Company Section Style */

.companySectionContainer{
  width: 100%;
  height: 85%;
  margin-top: 5%;
}
.companySectionContent{
  width: 50%;
  height: 100%;
  z-index: 1;
}
.companySectionTitleArea{
  width: 75%;
  height: 15%;
}

.companySectionInputArea{
  width: 75%;
  height: 65%;
}
.companySectionEntryFormArea{
  width: 100%;
  height: 100%;
}
.companySetionImageArea{
  width: 50%;
  height: 50%;
  z-index: -1;
  opacity: .2;
  position: absolute;
  left: 24.5%;
  top: 30%;
}

.companySectionRegisterEntry{
  width: 80%;
  margin-top: 2%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  background: transparent;
}

.companySectionTextArea{
  resize: none;
  background: transparent;
  transition: .5s;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  width: 80%;
  height: 30px;
  overflow: hidden;
}

.companySectionTextArea:hover{
  background: rgba(64,59,74, .05);
  transition: 0s;
}

.companySectionTextArea:focus{
  overflow: visible;
}

.companySectionRemoteContainer{
  width: 25%;
  height: 10%;
  float: right;
  margin-right: 9.5%;
}

#companySectionCompanyImage{
  width: 100%;
  height: 100%;
}

/* Account Section Style */

.accountSectionContainer{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 6.5%;
  position: relative;
}

.accountSetionImageArea, .searchSetionImageArea{
  width: 50%;
  height: 50%;
  z-index: -1;
  opacity: .2;
  position: absolute;
  left: 24.5%;
  top: 30%;
}

.accountSectionContent{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  z-index: 1;
}

.accountSectionUpperArea{
  width: 100%;
  height: 30%;
  display: flex;
}

.accountSectionAvatarArea{
  width: 20%;
  height: 100%;
  position: relative;
}
.accountSectionAvatarArea:hover{
  cursor:pointer;
}

.accountSectionTextArea{
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.accountSectionGreetingArea{
  width: 100%;
  height: 50%;
  margin-top: 3%;
  overflow: hidden;
}

.accountSectionEmailArea{
  width: 100%;
  height: 30%;
  overflow: hidden;
}

.accountSectionLegend {
  transform: translatey(-70%);
  padding-bottom: .5%;
  background: transparent;
  position: absolute;
  font-size: 80%;
  color: grey;
}

#accountSectionChangeBox{
  position: absolute;
  width: auto;
  height: auto;
  background: #243341;
  display: inline-block;
  font-size: 70%;
  color: white;
  outline: none;
  border: 0;
  border-radius: 5px;
}

#avatarImageEnlarged:hover{
  cursor: pointer;
}

#accountSectionCompanyImage, #searchSectionCompanyImage{
  width: 100%;
  height: 100%;
}

#popupWindowDiv{
  position: absolute;
  width: 30%;
  height: auto;
  background: #243341;
  opacity: 1;
  z-index: 10;
  border-radius: 10px;
  left: 35%;
  top: 40%;
}

#popupWindowSelectFilePseudoButton{
  display: inline-block;
  width: 40%;
  height: 10%;
  background: rgba(13,75,134, .3);
  box-shadow: 3px 3px 6px 7px #0d4b86 inset;
  color: white;
  border-radius: 5px;
  outline: none;
  border: 1px dashed #BBB;
  margin-left: 30%;
}

#checkMarkSelectedFile{
  margin-left: 5%;
  border: 0;
  outline: none;
  background: transparent;
  color: red;
  opacity: 1 !important;
}

#avatarImageEnlarged{
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 10px
}

.popupWindowSubmitButton{
  width: 40%;
  height: 10%;
  background: rgba(13,75,134, .8);
  box-shadow: 3px 3px 6px 7px #0d4b86 inset;
  color: white;
  border-radius: 5px;
  outline: none;
  border: 0;
  margin-top: 3.5%;
}

.accountSectionLowerArea{
  width: 100%;
  height: 70%;
  display: flex;
}
.accountSectionLowerAreaLeft{
  width: 60%;
  height: 100%;
}
.accountSectionLowerAreaRight{
  width: 40%;
  height: 100%;
}
.accountSectionWorkerDetails{
  width: 90%;
  height: 80%;
  margin-top: 7.5%;
  margin-left: 5%;
}

.accountSectionRow{
  display: flex;
  width: 100%;
  height: 16.5%;
  margin-top: 10%;
  overflow-x: hidden;
}

.accountSectionSplitSide{
  width: 45%;
  height: 99%;
  overflow-x: hidden;
}

.accountSectionSplitSide:hover, #accountSectionAddressRow:hover, .accountSectionEnrolledCompanyDiv:hover,
.accountSectionNoCompanyWrapper:hover, .searchSectionEnrolledCompanyDiv:hover{
  background: rgba(64,59,74, .05);
  border-radius: 5px;
  cursor: pointer;
}

.accountSectionHeaderSpan{
  margin-left: 5%;
  font-weight: 900;
}

.accountSectionLowerAreaText{
  width: 100%;
  height: 12.5%;
  margin-bottom: 2.5%;
}

.accountSectionEnrolledCompanyDiv{
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  margin-top: 5%;
}
.accountSectionLoadedCompaniesContainer{
  width: 100%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.accountSectionEnrolledCompanyAvatarArea{
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.accountSectionCompanyAvatar{
  width: 100%;
  height: 100%;
}

.accountSectionEnrolledCompanySplitSide{
  height: 100%;
}

.accountSectionEnrolledCompanyName, .accountSectionEnrolledCompanyIdentifier{
  width: 100%;
  height: 40%;
}

.accountSectionCompaniesLegend {
  transform: translatey(-50%);
}

.accountSectionEnrolledCompanyNameSpan, .accountSectionEnrolledCompanyIdentifierSpan{
  font-weight: 900;
}

.accountSectionNoCompanyInnerWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.accountSectionNoCompanyWrapper{
  width: 100%;
  height: 25%;
  position: relative;
  margin-top: 5%;
}

#accountSectionNewValueField{
  width: 80%;
  margin-top: 2%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  background: transparent;
  color: white;
  resize: none;
}

#accountSectionNewValueField:hover{
  background: rgba(255,255,255, .05);
  transition: 0s;
}

#accountSectionAddressRow{
  width: 100%;
  height: 16.5%;
  margin-top: 10%;
  overflow-x: hidden;
}


/* Search Section Style */

.searchSectionContainer{
  width: 100%;
  height: 100%;
}

.searchSectionContent{
  width: 80%;
  height: 80%;
  margin-top: 6%;
  margin-left: 10%;
}

.searchSectionMenu{
  width: 50%;
  height: 10%;
  margin-left: 25%;
  margin-top: 2.5%;
  float: left;
  display: flex;
}

#searchSectionFilterInput{
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
  background: transparent;
  outline: none;
}

#searchSectionFilterInput:hover{
  background: rgba(64,59,74, .05);
}


#searchSectionFilterButton{
  display: inline-block;
  width: 9%;
  height: 60%;
  margin-top: 2%;
  border: 0;
  background: transparent;
  outline: none;
  margin-left: 2%;
}

.searchSectionResults{
  width: 80%;
  height: 90%;
  float: left;
  margin-top: 2.5%;
  margin-left: 5%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}

.searchSectionFetchedCompany{
  width: 100%;
  height: 35%;
  display: flex;
}

.fetchedCompanySplitSide{
  height: 100%;
}

.fetchedCompanyAvatarArea{
  width: 60%;
  height: 60%;
  margin-top: 20%;
  margin-left: 20%;
  border-radius: 5px;
  background: blue;
}

#searchSectionPopupWindowDiv{
  background: red;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  position: absolute;
  opacity: 1;
  z-index: 1;
  border-radius: 10px;
  background: #243341;

}

.upperSearchSectionPopupWindowArea{
  margin-top: 2.5%;
  height: 77.5%;
  width: 100%;
  display: flex;
}

.lowerSearchSectionPopupWindowArea{
  margin-top: 2.5%;
  height: 12.5%;
  width: 100%;
}

.searchSectionPopupSplitSide{
  height: 100%;
}
.popupSplitSideTitleArea{
  width: auto;
  height: 12.5%;
}
.popupSplitSideTitleSpan{
  color: white;
  font-weight: 900;
  font-size: 120%;
}

.popupSplitSideAvatarArea{
  width: 100%;
  height: 30%;
  display: flex;
}

.popupCompanyAvatarArea{
  width: 25%;
  height: 100%;
  margin-left: 2.5%;
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255,255,255, .05);
}

.popupCEOAvatarArea{
  width: 38.5%;
  height: 100%;
  margin-left: 30.75%;
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255,255,255, .05);
}

.popupCompanyAvatarArea:hover, .popupCEOAvatarArea:hover{
  background: rgba(255,255,255, .1);
}

.popupCompanyIDLocationContainer{
  width: 67.5%;
  margin-left: 2.5%;
  margin-top: .5%;
  height: 95%;
  overflow: hidden;
}

.popupUpperSpanHolder{
  margin-top: 4%;
  width: 100%;
  height: 40%;
}

.searchSectionCompanySpanLabel, .searchSectionCEOSpanLabel{
  color: white;
}

.popupAvatarImage{
  margin-left: 2.5%;
  margin-top: 2.5%;
  width: 95%;
  height: 95%;
  border-radius: 5px;
}

.popupSplitSideBottomArea{
  width: 100%;
  height: 52.5%;
  margin-top: 2.5%;
}

.popupMiddleSpanHolder{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 3.5%;
  height: 20%;
  float: left;
  overflow: hidden;
}

.popupLowerSpanHolder{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  max-height: 70%;
  height: auto;
  float: left;
  word-wrap: break-word;
  overflow-y: auto;
}

.searchSectionCompanySpanLabel:hover, .searchSectionCEOSpanLabel:hover{
  background: rgba(255,255,255, .05);
  cursor: default;
  border-radius: 5px;
}


.searchSectionEnrolledCompanyDiv{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.matchingCompanyContainer{
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.matchingCompanySplitside{
   width: 47.5%;
   height: 100%;
   margin-left: 2.5%;
}
