*{font-family: 'Corben';}
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(rgba(231,233,187, .1),rgba(64,59,74, .2));
}
button{
  opacity: .9;
  cursor: pointer;
}
button:hover{
  opacity: 1;
}
button:active{
  transform: translateY(2px);
}
button:disabled{
  opacity: .5;
  cursor: default;
}
img{
  pointer-events: none;
  user-select: none;
}
input, textarea{
  padding: 1.5% 5% 1.5% 5%;
  font-weight: 900;
}
input::placeholder, textarea::placeholder{
  font-weight: normal;
  font-size: 90%;
}
input[type=text]:hover, input[type=password]:hover{
  background: rgba(64,59,74, .05);
}

/* Control bar styling */
#controlsBar{
  width: 100%;
  height: 22.5px;
  background: #243341;
  position: absolute;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  top: 0;
  left: 0;
  z-index: 99;
}
.controlsBarButton{
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 100%;
  float: right;
  -webkit-app-region: no-drag;
  border: 0;
  background: transparent;
  outline: none;
  transition: .3s;
  position: relative;
  color: white;
  transform: none !important
}
.controlsBarButtonSpan{
  position: absolute;
}
.controlsBarButton:active .controlsBarButtonSpan{
  transform: translateY(2px);
}
#controlsCloseWindow:hover{
  background: #e81123;
}
#controlsMinimizeWindow:hover{
  background: grey;
}
#controlsLogOut{
   width: 50px;
}
#controlsLogOut:hover{
   background: #e81123;
}
#controlsBarSpan{
  font-family: Helvetica;
  font-weight: 500;
  font-size: 70%;
  padding-left: 5%;
  top: 20%;
  position: absolute;
  color: white;
}
#controlsBarLogOutPrompt{
  position: absolute;
  width: 400px;
  height: 200px;
  background: #243341;
  top: 30%;
  left: 30%;
  text-align: center;
  color: white;
  border-radius: 10px;
  z-index: 99;
}
.promptLogOutButton{
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 100%;
  border: 0;
  outline: none;
  transition: .3s;
  background: transparent;
  color: white;
}
#controlsBarSlider{
  width: 50%;
  height: 100%;
  transition: .5s;
  position: absolute;
  background: radial-gradient(#0d4b86,#121c25);
  border-radius: 20px;
  cursor: pointer;
  z-index: -1;
  left: 0;
}
#controlsBarButtonHolder{
  width: 60%;
  height: 20%;
  margin-top: 5%;
  margin-left: 20%;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 3px 6px 7px #0d4b86 inset;

}

.generalSubmitButton{
  width: 135px;
  display: inline-block;
  height: 35px;
  border: 0;
  border-radius: 20px;
  outline: none;
  background: radial-gradient(#e7e9bb,#403b4a);
  text-align: center;
}

#alertContainer{
  height: auto;
  position: absolute;
  display: none;
}

.alert:before {
  content: '';
	position: absolute;
	top: 0;
	right: 5%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #243341;
	border-top: 0;
	margin-left: -20px;
	margin-top: -15px;
}
.alert {
  width: 100%;
  height: auto;
  background-color: #243341;
  z-index: 10;
  text-align: center;
  font-weight: 900;
  padding: 2.5%;
  border-radius: 7px;
  color: white;
  position: relative;
}

.closeSpan{
  color: white;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
  top: 25%;
  right: 20%;
}
.closeAlertButton{
  display: inline-block;
  float: right;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-right: -10px;
  border: 0;
  background: transparent;
  outline: none;
  position: relative;
}
.closeSpan:hover{
  color: #e81123;
}

.mountainsImage{
  position:absolute;
  z-index: -2;
  height: 105%;
  width: 105%;
  margin-left: -8px;
  opacity: .3;
}

.checkBoxButton{
  background: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  font-weight: 900;
  font-size: 110%;
  text-align: center;
  outline: none;
  width: 17.5px;
  height: 15px;
  position: relative;
}

.checkMarkSpan{
  color: red;
  position: absolute;
  right: 5%;
  top: -85%;
}
