.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 22.5px;
}
.displayArea{
  width: 100%;
  height: 92.5%;
  display: flex;
}
.screen{
  width: 80%;
  height: 90%;
  margin-left: 10%;
  margin-top: 3%;
  display: flex;
}
.splitside {
    width: 50%;
    height: 100%;
    position: relative;
    transition: .5s;
}
.textArea{
  width: auto;
  height: 45%;
  position: relative;
  text-align: center;
}
.imageArea{
  width: 100%;
  height: 62.5%;
  position: relative;
  margin-top: -10%;
  z-index: -1;
}
.entryArea{
  width: 90%;
  height: 70%;
  margin-left: 10%;
  margin-top: 12.5%;
}
.submitArea{
  width: 60%;
  height: 10%;
  margin-left: 25%;
}
.workerImage{
  width: 100%;
  height: 100%;
  opacity: .7;
}
.entryTitleArea{
  width: 100%;
  height: 10%;
  text-align: center;
}
.entryFormArea{
  width: 100%;
  height: 80%;
}
.entryTitleSpan{
  font-size: 175%;
  font-weight: 900;
}
.workerRegisterEntry{
  width: 60%;
  margin: 3% 0 0 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid grey;
  background: transparent;
}
.textAreaInput{
  resize: none;
  height: 30px;
}
.textAreaInput:hover{
  background: rgba(64,59,74, .05);
  transition: 0s;
}
.arrowImage{
  width: 100%;
  height: 100%;
}
.arrowButton{
  width: 10%;
  height: 15%;
  margin-right: 5%;
  margin-top: 5%;
  background: transparent;
  border: 0;
  outline: none;
  float: right;
}
#greetingSpan{
  font-size: 250%;
  font-weight: 900;
  max-width: 98%;
  word-wrap:break-word;
}
