<!DOCTYPE html>

<html lang="en">
<head>
   <meta charset="utf-8"/>
   <link href="../styling/generalStyle.css" rel="stylesheet" type="text/css" />
    <link href="../styling/employeeLoggedStyle.css" rel="stylesheet" type="text/css" />
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="http://fonts.googleapis.com/css?family=Corben" rel="stylesheet" type="text/css">

</head>
<body>
<img src="../graphics/mountains.jpg" class="mountainsImage">
<div class="container">
  <div class="sideBar unselectable">
    <div class="sideBarTop">
    </div>
    <div class="sideBarMiddle" onMouseLeave="resetSlider()">
      <div id="sideBarSlider"></div>
    </div>
    <div class="sideBarBottom">
      <div class="sideBarCompanyAvatarHolder">
        <img id="sideBarCompanyAvatar" src="../graphics/company.png">
      </div>
    </div>
  </div>
  <div class="content">
  </div>
</div>
<script src="../sourcecode/GeneralScript.js"></script>
<script src="../sourcecode/Controlbar.js"></script>
<script src="../sourcecode/employeeLoggedSource.js"></script>
</body>
</html>
